body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}
s
h1, h2, h3 {
    color: #3A4D39;
}

h2 {
    font-size: 1.5em;
}

img {
    width: 400px;
}

#dereineHeader {
    text-align: center;
    letter-spacing: 0.5em;
    font-size: 1.5em;
    background-image: url('../img/hintergrund.jpg');
    background-position: left;
    background-size: cover;
    padding: 1.5em;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
}

header h1 {
    background-color: #ECE3CE77;
    padding: 0.5em;
}


nav {
    background-color: #3A4D39;
    color: #ECE3CE;
    font-weight: bold;
    font-size: 1.3em;
    padding: 0.5em;
    margin: auto;
}

nav a
{
    color: #ECE3CE;
    text-decoration: none;
}

nav a:hover
{
    color: white;
    text-decoration: underline;
}

nav li{
    display: inline;
    margin: 0.2em;
}

