body {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #ECE3CE;
    background-image: url('../img/hintergrund.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 50px 0px 50px 0px;
}



header > h1 {
    margin: 0px;
    padding: 0px;
    color: #3A4D39;
    background-color: #ECE3CE55;
    letter-spacing: 0.5em;
    text-transform: capitalize;
}

nav {
    background-color: #3A4D39;
    display: block;
    padding: 1em 0px 1em 0px;
}

nav ul {
    margin: 0px;
}

nav li {
    display: inline;
    list-style: none;
}

nav a {
    color: #ECE3CE;
    text-decoration: none;
    margin: 1em;
    font-weight: bold;
}

nav a:hover {
    color: white;

}

.intro {
    background-color: #ECE3CE99;
    padding: 2em;
    transition: transform 2s;
}

.intro:hover{
    transform: scale(1.03);
}

.teaser {
    border: 1px solid #3A4D39; 
    box-shadow: #3A4D39 1em 1em;
    display: block;
    width: fit-content;
    position: relative;
    margin: 2em;
    float: left;
    background-color: #ECE3CE;
    transition: transform 1.5s;
}

.teaser:hover {
    transform: scale(1.05);
}

.teaser h2 {
    position: absolute;
    top: 1em;
    text-align: center;
    width: 100%;
    background-color: #ECE3CE77;
}

.teaser a {
    display: block;
    text-decoration: none;
    color:#3A4D39;
    text-align: center;
    margin: 1em;
}

.teaser a:hover {
    text-decoration: underline;
}

footer {
    clear: both;
    background-color: #3A4D39;
    color: #ECE3CE;
    padding: 1em;
}

aside {
    position: static;
    right: 1em;
    bottom: 1em;
    display: block;
    background-color: #ECE3CE;
    padding: 1em;
    /* border-radius: 1em; */
}

aside  a {
    color: #3A4D39;
}

aside a:hover {
    text-decoration: underline;
}


.flexi {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.flexi article{
    /* flex: 1; */
    /* display: flex; */
} 

.flexi img{
    /* flex: 1; */
} 


h1, h2, h3 {
    color: #3A4D39;
}

h2 {
    font-size: 1.5em;
}

img {
    width: 400px;
}